::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}


::-webkit-scrollbar-thumb {
  background-color: rgba(33, 33, 33, 0.3);
  border-radius: 7.5px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: rgba(31, 31, 31, 0.5);
}

