@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: Roobert-Regular;
  src: url(/fonts/Roobert-Regular.ttf);
}

@font-face {
  font-family: "Spin-cycle";
  src: url("/fonts/SPINC___.TTF");
}

@import url("https://fonts.googleapis.com/css2?family=Oswald");

@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@600&family=Monoton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

@font-face {
  font-family: arista;
  src: url("/fonts/arista.otf");
}

#404e {
  font-family: "Protest Strike";
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 900;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 7.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-font {
  font-family: "Roobert-Regular", sans-serif;
}

.hero-font {
  font-family: "Oswald", sans-serif;
}

.hero-font-2 {
  font-family: "arista", sans-serif;
}

.neon {
  font-family: "arista", sans-serif;
  font-size: 130px;
  color: #ffd5ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #ffd5ff, 2px 0px 4px #ffd5ff, 3px 0px 4px #ffd5ff,
    2px 0px 3px #d42cca, 2px 3px 15px #d42cca, 2px 0px 15px, 5px 0px 125px,
    20px 0vw 200px #d42cca, 40px 0vw 200px #d42cca;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
  margin-left: 14%;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

/*Hackathon hero section*/
.levitate {
  animation: bouge 3s infinite alternate-reverse;
}

@keyframes bouge {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(80px);
  }
}

/* Hackathon Timeline */
/* Timeline Container */
.timeline {
  background: #0a113a;
  margin: 20px auto 0px auto;
  padding: 20px;
  padding-bottom: 0px;
}

/* Card container */
.card {
  position: relative;
  max-width: 500px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-color: white;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-color: white;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-color: white;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-color: white;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-color: white;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 10px;
  padding: 30px;
}

/* Title of the card */
.title {
  color: black;
  font-weight: 700;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 999px;
  border: 4px solid white;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: left;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -72px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -72px;
}

/*Instruction Carousel*/
.crsl {
  width: 350px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.card-submit {
  position: relative;
  max-width: 500px;
  padding: 30px 30px 30px 0;
}

@media only screen and (max-width: 400px) {
  .card-submit {
    top: -5px;
    bottom: -5px;
    left: 4%;
  }
}

.shiny {
  position: relative;
}

.shiny .shiny-overlay {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  height: 600px;
  width: 100px;
  left: -275px;
  z-index: 10;
  transform: skewX(-30deg);
  backdrop-filter: blur(5px);
}

.shiny:hover .shiny-overlay {
  animation: slide 1.2s;
}

@keyframes slide {
  0%,
  100% {
    left: -275px;
  }
  50% {
    left: 175%;
  }
}

.fancy-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: relative;
}

.fancy-spinner div {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  box-sizing: border-box;
}

.fancy-spinner div.ring {
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent;
  animation: 2s fancy infinite alternate;
}

.fancy-spinner div.ring:nth-child(1) {
  border-left-color: #f39d1b;
  border-right-color: #f39d1b;
}

.fancy-spinner div.ring:nth-child(2) {
  border-top-color: #ef2027;
  border-bottom-color: #ef2027;
  animation-delay: 1s;
}

.fancy-spinner div.dot {
  width: 1rem;
  height: 1rem;
  background: #f39d1b;
}

@keyframes fancy {
  to {
    transform: rotate(360deg) scale(0.5);
  }
}
