@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: Roobert-Regular;
  src: url(/fonts/Roobert-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald');

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&family=Monoton&display=swap');

@font-face {
  font-family: arista;
  src: url('/fonts/arista.otf');
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer-font {
  font-family: 'Roobert-Regular', sans-serif;
}

.hero-font {
  font-family: 'Oswald', sans-serif;
}

.hero-font-2 {
  font-family: 'arista', sans-serif;
}


body{
  background: #000;
}

.neon{
  font-family: 'arista', sans-serif;
  font-size:130px;
  color: #FFD5FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
  margin-left: 14%;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {

    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}


