@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roobert-Regular;
  src: url(/fonts/Roobert-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald');

@font-face {
  font-family: arista;
  src: url('/fonts/arista.otf');
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer-font {
  font-family: 'Roobert-Regular', sans-serif;
}

.hero-font {
  font-family: 'Oswald', sans-serif;
}

.hero-font-2 {
  font-family: 'arista', sans-serif;
}